.container{

    margin-bottom: 100px;
}

.gray-bg{
    background-color:#feeae8;
    border-radius: 9px;
}

.img-border{
    border-radius: 9px;
}

.carousel-item{
    padding: 20px 40px;
}

.price{
    color: #ff136f;
}

.buy-now{
    background-color: #ff136f ;
    padding: 7px;
    border: none;
    color: white;
    border-radius: 9px;
    font-size: 15px;
    cursor: pointer;
}
